body{
    font-family: Verdana;
    display: flex;
    flex-direction: column;
    background-color: #888888;
}
main{
    text-align: center;
    display: flex;
}
header{
    width: 100%;
}
.left{
    background-color: white;
    height: 450px;
    width: 20%;
}
.right{
    background-color: #aec6e6;
    height: 450px;
    width: 80%;
    
}
footer{
    text-align: right;
    height: 25px;
}
img{
    width: 100%;
}
h1{
    color: blue;
    padding:50px;
}
li{
    width: 120px;
    background-color: #aec6e6;
    padding: 5px;
    margin-top: 10px;
    list-style:none ;
}
li :hover{
    background-color: #5555ff;
}
a {
font-style: none;
color:#232323;
}
table{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
td{
    border: solid 1px black;
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 10px;
}
.zajete{
background-color: red;
}
.wolne{
background-color: gray;
}
th{
    border-style: none;
}