body{
    font-family: Georgia;
    text-align: center;
    display: flex;
    flex-direction: column;
}
header, footer{
background: #4ba4c7;
color: white;
height: 80px;
font-size: 120%;
}
#left, #right{
background-color: #efefef;
height: 400px;
width: 25%;
}
#mid{
    background-color: #90caf9;
    height: 400px;
    width: 50%;
}
table{
    margin-left: 10px;
    width: 90%;
    border: 1px solid #90caf9;
}
td{
    padding: 5px;
    border: 1px solid #90caf9;
}
tr:hover{
color: #90caf9;
}
input{
    margin-top: 15px;
    margin-bottom: 15px;
}
main{
    display: flex;
    flex-direction: row;
}
label{
    display: block;
}
h4{
margin: 0;
}